<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8"/>
  </system.web>
  <system.serviceModel>
	<services>  
		<!-- Define the service endpoints. This section is optional in the new  
			 default configuration model in .NET Framework 4. -->  
		<service name="WcfService.Service">  
				<endpoint address="/Service.svc"
						  binding="basicHttpBinding" bindingConfiguration="NewBinding1"
						  contract="WcfService.IService" /> 
		</service>  
   </services>  
  
  
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
	
	<bindings> 
		<basicHttpBinding>
			<binding name="NewBinding1"
					 receiveTimeout="01:00:00"
					 sendTimeout="01:00:00"
					 maxBufferSize="2000000000"
					 maxReceivedMessageSize="2000000000">
				 
				<readerQuotas maxDepth="2000000000"
							  maxStringContentLength="2000000000"
							  maxArrayLength="2000000000" 
							  maxBytesPerRead="2000000000" 
							  maxNameTableCharCount="2000000000" />
			</binding>
		</basicHttpBinding>
	</bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
